<!DOCTYPE html>
<style>
form {
	margin: auto;
	width: 35%;
}

.result {
	margin: auto;
	width: 35%;
	border: 1px solid #ccc;
}
</style>

<head>
	<title>Прогнозирование прочности при растяжении</title>
</head>

<form action="/" method="POST">
	<label for="var1">Соотношение матрица-наполнитель:</label><br>
	<input type="number" id="var1" name="var1"><br>
	<label for="var2">Количество отвердителя, м.%:</label><br>
	<input type="number" id="var2" name="var2"><br>
	<label for="var3">Содержание эпоксидных групп,%_2:</label><br>
	<input type="number" id="var3" name="var3"><br>
	<label for="var4">Потребление смолы, г/м2:</label><br>
	<input type="number" id="var4" name="var4"><br>
	<label for="var5">Угол нашивки, град:</label><br>
	<input type="number" id="var5" name="var5"><br>
	<label for="var6">Шаг нашивки:</label><br>
	<input type="number" id="var6" name="var6"><br>
	<label for="var7">Плотность нашивки:</label><br>
	<input type="number" id="var7" name="var7"><br><br>
	<input type="submit" value="Предсказать значение Прочности при растяжении">
</form>

<div class="result" align="center">
	{% if result %}
		<br>
		<p style="font-size:30px">
		Прочность при растяжении
		</p>
		<p style="font-size:30px"> {{result}}</p>
	{% endif %}
</div>